# Escolha o provider: "openai" ou "gemini"
LLM_PROVIDER=gemini

# OpenAI
OPENAI_API_KEY=fake-openai-api-key

# Google Gemini (alternativa)
GOOGLE_API_KEY=fake-gemini-api-key


# PostgreSQL
POSTGRES_USER=raguser
POSTGRES_PASSWORD=ragpassword
POSTGRES_DB=ragdb
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Coleção pgVector
COLLECTION_NAME=pdf_documents
